{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load poll_extras %}

{% block page_title %}
	سبد خرید
{% endblock %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block page_content %}
    {% include 'message_json.html' %}
    {% include 'order_module/include/basket_popup_edit_inventory.html' %}
    {% if orders.orderdetails_set.all %}
        <div class="shopping-basket centerbox mt-35">
            <div class="basket-titlebox w-[90%] pb-2">
                <div class="flex gap-2 mt-1">
                    <div class="p-2 rounded-xl bg-[var(--color12)]">
                        <svg id="Buy" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M6.39507 6.30158L6.09507 3.24158H2.19507V4.74158H4.73507L6.01507 17.4416H20.8351L22.3051 6.30158H6.39507Z" fill="#674d45"></path>
                            <path d="M13.8245 11.7118H17.9945V10.2118H13.8245V11.7118Z" fill="#674d45"></path>
                            <path d="M6.57983 20.5527C6.57983 19.8497 7.15083 19.2787 7.85383 19.2787C8.55583 19.2787 9.12683 19.8497 9.12683 20.5527C9.12683 21.2557 8.55583 21.8277 7.85383 21.8277C7.15083 21.8277 6.57983 21.2557 6.57983 20.5527Z" fill="#674d45"></path>
                            <path d="M17.447 20.5527C17.447 19.8497 18.018 19.2787 18.721 19.2787C19.424 19.2787 19.995 19.8497 19.995 20.5527C19.995 21.2557 19.424 21.8277 18.721 21.8277C18.018 21.8277 17.447 21.2557 17.447 20.5527Z" fill="#674d45"></path>
                        </svg>
                    </div>
                    <div class="font-black text-4xl mt-1">سبد خرید من</div>
                </div>
            </div>
        </div>

        <div class="w-[100%] centerbox mt-2">
            <div class="w-[90%] justify-start">
                <div class="w-[50%] flex text-nowrap items-center gap-2">
                    <div class="flex gap-1 gap-2 items-start">
                        <div class="w-9 h-9 mt-1 centerbox items-center font-bold bg-[var(--color6)] border-2 border-[var(--color12)] rounded-xl" style="background-color: var(--color19)">{{ 1|to_fanum }}</div>
                        <p class="mt-2 font-semibold">سبد خرید</p>
                    </div>
                    <div class="w-[100%] bg-[var(--color11)]" style="height: 1px">
                    </div>
                    <div class="flex gap-1 gap-2 items-start">
                        <div class="w-9 h-9 mt-1 centerbox items-center font-bold bg-[var(--color12)] rounded-xl border-2 border-[var(--color12)]" style="background-color: var(--color19)">{{ 2|to_fanum }}</div>
                        <p class="mt-2 font-semibold disabled">بررسی سفارش</p>
                    </div>
                    <div class="w-[100%] bg-[var(--color11)]" style="height: 1px">
                    </div>
                    <div class="flex gap-1 gap-2 items-start">
                        <div class="w-9 h-9 mt-1 centerbox items-center font-bold bg-[var(--color12)] rounded-xl border-2 border-[var(--color12)]" style="background-color: var(--color19)">{{ 3|to_fanum }}</div>
                        <p class="mt-2 font-semibold disabled">پرداخت</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-items centerbox">
            {% include 'order_module/basket_partial.html' %}
        </div>

        {% else %}
        <div class="centerbox mt-60">
            <img class="w-[15vw] empty-cart" alt="empty-shopping-cart" loading="lazy" src="{% static 'media/icons/empty.webp' %}">
        </div>
        <div class="text-center text-2xl mt-5">سبد خرید شما خالی است!</div>
        <div class="centerbox mt-2">
            <a href="{% url 'all_products_page' %}">
                <button class="btn-defIconFlex2 gap-1" style="background-color: var(--color12);">
                    <svg id="Discovery" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.25C5.051 2.25 2.5 4.802 2.5 12C2.5 19.198 5.051 21.75 12.25 21.75C19.449 21.75 22 19.198 22 12C22 4.802 19.449 2.25 12.25 2.25Z" fill="#674d45"></path>
                        <path d="M14.4513 13.7558L15.8683 9.22783C15.9433 8.98883 15.8793 8.72683 15.7013 8.54883C15.5243 8.37083 15.2623 8.30483 15.0223 8.38183L10.4923 9.79883C10.2813 9.86483 10.1153 10.0298 10.0493 10.2418L8.63128 14.7718C8.55628 15.0118 8.62128 15.2738 8.79828 15.4508C8.92728 15.5798 9.10028 15.6488 9.27628 15.6488C9.34428 15.6488 9.41128 15.6388 9.47828 15.6178L14.0083 14.1998C14.2193 14.1338 14.3853 13.9678 14.4513 13.7558Z" fill="#674d45"></path>
                    </svg>
                    <div>
                        گشتن بین محصولات
                    </div>
                </button>
            </a>
        </div>
    {% endif %}

    <div class="centerbox mt-20 mb-40">
        <div class=" w-[95%]">
            {% include 'product_module/include/product_suggestion.html' %}
        </div>
    </div>

{% endblock %}