{% load static %}    
<footer id="footer">
        <div class="footer-inner">
            <div class="flex justify-start mt-20 gap-20 flex-wrap items-start" style="padding: 0 40px;">
                <div>
                    <a href="{% url 'home' %}" class="w-fit">
                        <img class="w-20" src="{% static 'media/logo/favicon-32x32.webp' %}" alt="nobakhtnuts-logo">
                    </a>
                    <div class="text-3xl" style="color: #fff">برنج و خشکبار نوبخت</div>
                    <p class="w-80">برنج و خشکبار نوبخت، فروشگاهی کیفیت محور واقع در شهر قائمشهر با بیش از 20 سال سابقه است که در حوزه برنج، آجیل، خشکبار و ... فعالیت میکند.</p>
                    <ul class=" flex gap-1.5 mt-1 text-2xl">
                        {% for support in support_ways %}
                            <a target="_blank" href="{% if support.icon == 'fa fa-phone' %}tel:{% endif %}{{ support.opt1 }}"><li><i class="{{ support.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% for foot in footers %}
                    <div>
                        <div class="text-2xl text-stone-300">{{ foot.title }}</div>
                        <ul class="footer-row">
                            {% for footerlink in foot.links.all %}
                                <a href="{% if not footerlink.url %}{{ footerlink.product_category_url.get_absolute_url }}{% else %}{{ footerlink.url }}{% endif %}"><li>{{ footerlink.Ftitle }}</li></a>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <div class="bg-[var(--color9)] p-2 rounded-2xl">
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=753588&Code=zdMmqMZco4lMyV1lBgI6DUjZPlSN4pYf'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=753588&Code=zdMmqMZco4lMyV1lBgI6DUjZPlSN4pYf' alt='' style='cursor:pointer' code='zdMmqMZco4lMyV1lBgI6DUjZPlSN4pYf'></a>
                </div>
            </div>
            <div class="py-2 pr-4 gap-1 flex mt-4" style="background-color: rgb(33, 26, 26);">
                <svg class="mt-[-2px]" id="Location" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.5C7.839 2.5 4.25 6.133 4.25 10.599C4.25 16.007 8.904 21.5 12.25 21.5C15.595 21.5 20.25 16.007 20.25 10.599C20.25 6.133 16.661 2.5 12.25 2.5Z" fill="#c5b8b4"></path>
                <path d="M9.39697 10.7102C9.39697 12.2892 10.681 13.5732 12.26 13.5732C13.839 13.5732 15.124 12.2892 15.124 10.7102C15.124 9.13117 13.839 7.84717 12.26 7.84717C10.681 7.84717 9.39697 9.13117 9.39697 10.7102Z" fill="#c5b8b4"></path>
                </svg>
                <h4 class="text-[var(--color14)]">
                    <a target="_blank" href="https://maps.app.goo.gl/sM1kGk2u9EJi7UWs5">مازندران ،قائمشهر ،خیابان جویبار(دکتر شریعتی) ،روبروی خزر 11 ،برنج و خشکبار نوبخت</a>
                </h4>
            </div>
            <div class="px-5 text-stone-500 text-center py-5" style="background-color: rgb(39, 31, 31); ">
               <h1> © تمامی حقوق محفوظ است</h1>
                <h3 class="text-stone-600"> {{ site_settings.version }}</h3>
            </div>
        </div>
    </footer>