{% load static %}
{% load poll_extras %}

<div class="ticket" id="t{{ t.id }}" onclick="ExpandTicket('t{{ t.id }}' ,'ticket-text{{ t.id }}')">
    <div style="display: flex;  justify-content: space-between; margin-top: 15px">
        <div style="display: flex; width: 100%">
            <div class="t-col1" style="width: 100%; overflow: hidden">
                {{ t.title }}
            </div>

            <div class="t-col2" style="width: 100%">
                {{ t.reason }}
            </div>

            <div class="t-col3 mt-[-2px]" style="width: 100%;">
                {% if t.status.id == 1 %}
                    <div class=" bg-[var(--color9)] w-[max-content] py-1 px-2 rounded-lg">
                        {{ t.status }}
                    </div>
                {% elif t.status.id == 2 %}
                    <div class=" bg-[var(--color10)] w-[max-content] py-1 px-2 rounded-lg">
                        {{ t.status }}
                    </div>
                {% elif t.status.id == 3 %}
                    <div class=" bg-[var(--color6)] w-[max-content] text-taupe-300 py-1 px-2 rounded-lg">
                        {{ t.status }}
                    </div>
                    {% else %}
                    <div class=" bg-[#b6cfb6] w-[max-content] py-1 px-2 rounded-lg">
                        {{ t.status }}
                    </div>
                {% endif %}
            </div>
        </div>


            <button class="btn-del m-0" onclick="OpenDialog('آیا از حذف این تیکت مطمئن هستید؟', '/userpanel/my-ticket/{{ t.pk }}/delete')">
            <i class="fa fa-trash"></i>
            </button>

    </div>

    <div style="height: 0; overflow: hidden;color: var(--color10); transition: 200ms; opacity:0; margin-top: 15px" id="ticket-text{{ t.id }}">
        <div class="flex justify-between">
            <ul>
                <li class="address-opt-mobile hidden gap-1 ">
                    <div class="mt-[5px]">
                        وضعیت:
                    </div>
                    {% if t.status.id == 1 %}
                        <div class=" bg-[var(--color9)] w-[max-content] py-1 px-2 rounded-lg" style="color: var(--color2)">
                            {{ t.status }}
                        </div>
                    {% elif t.status.id == 2 %}
                        <div class=" bg-[var(--color10)] w-[max-content] py-1 px-2 rounded-lg"  style="color: var(--color2)">
                            {{ t.status }}
                        </div>
                    {% elif t.status.id == 3 %}
                        <div class=" bg-[var(--color6)] w-[max-content] text-taupe-300 py-1 px-2 rounded-lg">
                            {{ t.status }}
                        </div>
                        {% else %}
                        <div class=" bg-[#b6cfb6] w-[max-content] py-1 px-2 rounded-lg" style="color: var(--color2)">
                            {{ t.status }}
                        </div>
                    {% endif %}
                </li>
                <li class="address-opt-mobile hidden mt-1">دلیل: {{ t.reason }}</li>
                <li>زمان ارسال: {{ t.created_at|show_jalali_date }}</li>
                <div class="ticket-row-text-desktop border-t border-[var(--color9)] mt-2 pt-2">{{ t.text }}</div>
            </ul>
            {% if t.img %}
                <img class="w-30 h-30 rounded-lg" src="{{ t.img.url }}">
            {% endif %}
        </div>
        <div class="ticket-row-text-mobile hidden border-t border-[var(--color9)] mt-2 pt-2">{{ t.text }}</div>
    </div>
</div>

<script>

    let ExpandTicket = (tid, ttid) => {
        let ttext = document.getElementById(ttid)
        let t = document.getElementById(tid)

        if (ttext.style.opacity === "0") {
            t.style.height = "auto"
            ttext.style.opacity = 1
            ttext.style.height = "300px"
        }
        else {
            t.style.height = "auto"
            ttext.style.opacity = 0
            ttext.style.height = "0"
        }
    }
</script>