{% extends 'index.html' %}
{% load static %}

{% block page_title %}

{% endblock %}

{% block page_content %}
    {% include 'home_module/components/home_slider.html' %}
    <div class="home-container w-[100%] centerbox">
        <div class="home-inner-container w-[90%]">
            {% include 'home_module/components/home_carousel_category.html' %}
            {% include 'home_module/components/home_carousel_special.html' %}
        </div>
    </div>
    {% include 'include/event_bar.html' %}
{% endblock %}