{% extends 'index.html' %}
{% load static %}

{% block page_title %}
    | فروشگاه تخصصی برنج ،آجیل و خشکبار
{% endblock %}

{% block schema %}
    {% include 'home_module/home_schema.html' %}
{% endblock %}

{% block page_content %}
    {% include 'home_module/components/home_slider.html' %}
    <div class="home-inner-container w-[100%]">
        <div class="centerbox">
            {% include 'home_module/components/home_carousel_category.html' %}
        </div>
        <div class="centerbox">
            {% include 'home_module/components/special_carousels/home_carousel_special.html' %}
        </div>
    </div>
    {% include 'include/event_bar.html' %}
    <script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}