{% load static %}

<div style="animation: load8 {% widthratio s.id 1 100 %}ms;" class="w-[300px] h-[300px] overflow-hidden bg-[var(--color12)] rounded-xl relative hover:bg-[var(--color8)] transition-all">
    <div class="w-[100%] p-3">
        <div class="text-[var(--color7)] flex justify-between">
            <div class="flex gap-3">
                <div>{{ s.name }}</div>
                <div class="mt-[-4px]">.</div>
                <div>0{{ s.id }}</div>
            </div>
            <div class="rounded-full w-4 h-4 bg-[var(--color9)] p-1">
                <div class="rounded-full w-2 h-2 bg-[var(--color6)]"></div>
            </div>
        </div>
        <div class="flex gap-3">
            <i class="{{ s.icon }} fa-2x mt-3 text-[var(--color6)]"></i>
            <div class="text-4xl font-semibold mt-3">
                {{ s.title }}
            </div>
        </div>

        <div class="text-sm text-[var(--color7)] mt-3 px-2">
            {{ s.desc }}
        </div>
        <div class="mt-3 absolute bottom-2 w-[93%]">
            {% if s.opt1 %}
                <div class="w-[100%] text-[13px] p-0.5 px-3 rounded-lg bg-[var(--color8)] flex justify-between" style="overflow: hidden">
                    <a id="clipb-text1" target="_blank" href="{% if s.icon == 'fa fa-phone' %}tel:{{ s.opt1 }}{% else %}{{ s.opt1 }}{% endif %}">{{ s.opt1 }}</a>
                    {% if s.icon == 'fa fa-phone' %}
                            <i onclick="CopyToClipboard('clipboard1' ,'check1' ,'{{ s.opt1 }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard1"></i>
                            <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check1"></i>
                    {% endif %}
                </div>
            {% endif %}
            {% if s.opt2 %}
                <div class="w-[100%] text-[13px] mt-1 p-0.5 px-3 rounded-lg bg-[var(--color8)] flex justify-between" style="overflow: hidden">
                    <a id="clipb-text2" target="_blank" href="{% if s.icon == 'fa fa-phone' %}tel:{{ s.opt2 }}{% else %}{{ s.opt2 }}{% endif %}">{{ s.opt2 }}</a>
                    {% if s.icon == 'fa fa-phone' %}
                        <i onclick="CopyToClipboard('clipboard2' ,'check2' ,'{{ s.opt2 }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard2"></i>
                        <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check2"></i>
                    {% endif %}
                </div>
            {% endif %}
            {% if s.opt3 %}
                <div class="w-[100%] text-[13px] mt-1 p-0.5 px-3 rounded-lg bg-[var(--color8)] flex justify-between" style="overflow: hidden">
                    <a id="clipb-text3" target="_blank" href="{% if s.icon == 'fa fa-phone' %}tel:{{ s.opt3 }}{% else %}{{ s.opt3 }}{% endif %}">{{ s.opt3 }}</a>
                    {% if s.icon == 'fa fa-phone' %}
                        <i onclick="CopyToClipboard('clipboard3' ,'check3' ,'{{ s.opt3 }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard3"></i>
                        <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check3"></i>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>