{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>
      برنج و خشکبار نوبخت |  
      {% block page_title %}
      {% endblock %}
    </title>
    {% include 'include/head_refrence.html' %}

    {% block schema %}

    {% endblock %}
</head>
<body onscroll="HeaderManage()" onload="StartIntervals(true)">
    <div id="overlay" class="index-overlay hidden"></div>
    {% include 'loader.html' %}
    {% include 'yesno_dialog.html' %}
    {% include 'include/header_refrence.html' %}
    {% include 'message.html' %}
    {% block page_content %}

    {% endblock %}
    {% include 'include/bottom_bar.html' %}
    <br>
    <br>
    <br>
</body>
<script src="{% static 'scripts/main.js' %}"></script>
<script src="{% static 'scripts/verfiy.js' %}"></script>
{#<script src="{% static 'scripts/account.js' %}"></script>#}
</html>