{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% include 'include/head_refrence.html' %}
  <title>
      برنج و خشکبار نوبخت |  
      {% block page_title %}
      {% endblock %}
  </title>
</head>
<body onscroll="HeaderManage()" onload="StartIntervals(true)">
    <div id="overlay" class="index-overlay hidden"></div>
    {% include 'loader.html' %}
    {% include 'yesno_dialog.html' %}
    {% include 'include/header_refrence.html' %}
    {% include 'message.html' %}
    {% block page_content %}

    {% endblock %}
    {% include 'include/bottom_bar.html' %}
    <br>
    <br>
    <br>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'scripts/main.js' %}"></script>
<script src="{% static 'scripts/verfiy.js' %}"></script>
{#<script src="{% static 'scripts/account.js' %}"></script>#}
</html>