{% load poll_extras %}

<div class="category-menu hidden" id="category-menu">
    <div class="category-menu-bar">
        <a href="{% url 'all_products_page' %}" class="menu-cat-title {% if not forloop.last %}border-b border-[var(--color13)]{% endif %}">
            <div class="flex gap-2">
                <h2 class="mt-1.5">همه محصولات</h2>
            </div>
            <i class="fa fa-angle-left text-sm mt-3"></i>
        </a>
    {% for cat in category %}
        <a onmouseenter="ShowSubmenu({{ cat.id }})" data-id="{{ cat.id }}" href="{{ cat.get_absolute_url }}" class="menu-cat-title {% if not forloop.last %}border-b border-[var(--color13)]{% endif %}">
            <div class="flex gap-2">
                <div class="menu-emoji">{{ cat.emoji }}</div>
                <h2 class="mt-0.5">{{ cat.title }}</h2>
            </div>
            <i class="fa fa-angle-left text-sm mt-2"></i>
        </a>
        {% endfor %}
    </div>
    <div class="mt-3 mr-4 w-[100%]" id="submenu-panel">
        {% for cat in category %}
            <div style="{% if not forloop.first %}display: none;{% endif %}" class="submenu-panel" id="submenu-{{ cat.id }}">
            {% for sub in cat.subcategory.all %}
                <a style="animation: load8 {% widthratio forloop.counter 1 100 %}ms;" class="relative w-[45%] my-2 transition-all duration-200 hover:transform-[translateX(-10px)]" href="{{ sub.get_absolute_url }}">{{ sub.title }}</a>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    <i onclick="CategoryMenu(false)" class="fa fa-close text-sm absolute top-3 left-3 p-2 rounded-xl cursor-pointer transition-all hover:bg-[var(--color12)]"></i>
</div>