{% extends 'userpanel_module/panel_index.html' %}
{% load static %}
{% load render_partial %}

{% block page_title %}
    آدرس های من
{% endblock %}

{% block panel_content %}
    {% include 'userpanel_module/include/pop_up_address.html' %}
    <div class="w-[100%] mt-25 editpanel">
        <div class=" gap-4 editpanel-box">


{#            ----form-----#}
            <div class=" userpanel-form address-list">
                <div class="flex justify-between flex-wrap items-start">
                    <div class="flex gap-2">
                        <button class="back-btn btn-prdcounter text-sm pt-1 rounded-2xl mt-1.5" onclick="history.back()"><i class="fa fa-angle-right"></i></button>
                        <svg style="margin-top: -7px" id="Location" width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.5C7.839 2.5 4.25 6.133 4.25 10.599C4.25 16.007 8.904 21.5 12.25 21.5C15.595 21.5 20.25 16.007 20.25 10.599C20.25 6.133 16.661 2.5 12.25 2.5Z" fill="#674d45"></path> <path d="M9.39697 10.7102C9.39697 12.2892 10.681 13.5732 12.26 13.5732C13.839 13.5732 15.124 12.2892 15.124 10.7102C15.124 9.13117 13.839 7.84717 12.26 7.84717C10.681 7.84717 9.39697 9.13117 9.39697 10.7102Z" fill="#674d45"></path> </svg>
                        <div class="text-4xl font-black userpanel-title">
                            آدرس های من
                        </div>
                    </div>
                    <button onclick="PopUp('address' ,'open')" class="btn-icon2" style="color: #d1c1bd; padding: 10px 10px;">
                        <svg id="Plus" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.2499 2.29761C4.69094 2.29761 2.01294 4.97561 2.01294 12.5346C2.01294 20.0936 4.69094 22.7716 12.2499 22.7716C19.8079 22.7716 22.4869 20.0936 22.4869 12.5346C22.4869 4.97561 19.8079 2.29761 12.2499 2.29761Z" fill="#c5b8b4"></path>
                        <path d="M12.9996 13.2847H15.8276C16.2416 13.2847 16.5776 12.9487 16.5776 12.5347C16.5776 12.1207 16.2416 11.7847 15.8276 11.7847H12.9996V8.96069C12.9996 8.54669 12.6636 8.21069 12.2496 8.21069C11.8356 8.21069 11.4996 8.54669 11.4996 8.96069V11.7847H8.67163C8.25763 11.7847 7.92163 12.1207 7.92163 12.5347C7.92163 12.9487 8.25763 13.2847 8.67163 13.2847H11.4996V16.1087C11.4996 16.5227 11.8356 16.8587 12.2496 16.8587C12.6636 16.8587 12.9996 16.5227 12.9996 16.1087V13.2847Z" fill="#c5b8b4"></path>
                        </svg>
                    </button>
                </div>
                <div id="panel-tb-header" class="flex border-b-1 border-[var(--color10)] pr-5 pb-3 mt-10" style="color: var(--color10)">
                    <div style="width: 100%">
                        عنوان
                    </div>
                    <div style="width: 100%">
                        استان / شهر
                    </div>
                    <div style="width: 100%">
                        کد پستی
                    </div>
                    <div>
                        حذف
                    </div>
                </div>
                <div class="props-list">
                    {% if address.count > 0 %}
                        {% for a in address %}
                            {% include 'userpanel_module/include/address_row.html' %}
                        {% endfor %}
                        {% else %}
                        <div class="centerbox panel-no-item" style="margin-top: 100px">
                            <div>
                                <img style="width: 140px; user-select: none; margin-right: 10px" src="{% static 'media/icons/no-location.webp' %}">
                                <div class="mt-5 text-center" style="color: var(--color10)">
                                    شما آدرسی ندارید
                                </div>
                            </div>
                        </div>
                        </div>
                {% endif %}
                </div>


            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}