{% extends 'base.html' %}
{% load static %}
{% load  render_partial %}
{% load poll_extras %}

{% block page_title %}
    پنل کاربری
{% endblock %}


{% block topbar_title %}
    حساب کاربری من
{% endblock %}

{% block page_content %}
    <div class="centerbox">
        {% include 'userpanel_module/include/order_bottombar.html' %}
    </div>
    <div class="flex">
        {% render_partial 'userpanel_module.views.side_bar' %}
        {% block panel_content %}

        {% endblock %}
    </div>
{% endblock %}