{% load poll_extras %}

    <div class="centerbox">
        <div class="w-[100%]">
            <div class="swiper home-swiper">
                <div class="swiper-wrapper">
                    {% for slide in slider %}
                        <a href="{{ slide.url }}" class="swiper-slide rounded-xl" style="background-image: url('{{ slide.banner.url }}'); background-size: contain; background-repeat: no-repeat; background-position: bottom;">
                            <h2 class="sr-only">{{ slider.desc }}</h2>
                            <div class="centerbox w-[100%]">
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="centerbox w-[100%] items-start mt-5 homeswiper-controls">
                <div class="flex swiper-controls items-start gap-3">
                    <button id="homeswiper-button-prev" class="homeswiper-btn transition-all bg-[var(--color12)] rounded-xl w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8 cursor-pointer"><i class="fa fa-angle-right pt-2 text-xs"></i></button>
                    <div class="centerbox homeswiper-pagination mt-3 transition-all"></div>
                    <button id="homeswiper-button-next" class="homeswiper-btn transition-all bg-[var(--color12)] rounded-xl w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8 cursor-pointer"><i class="fa fa-angle-left pt-2 text-xs"></i></button>
                </div>
            </div>
        </div>
    </div>
